# Módulo 07, Tarefa 01

Vamos começar a mexer na nossa base de projeto? Já fizemos um exercício de montar a variável resposta, já pudemos perceber que essa atividade pode não ser trivial. Vamos agora trabalhar a base para que fique propícia ao *scikitlearn* para trabalharmos.

Lembrando, a base se chama demo01.csv, e originalmente está publicada [aqui](https://www.kaggle.com/rikdifos/credit-card-approval-prediction).

#### 1) Carregue a base e avalie:

- As variáveis
- Tipos de dados de cada variável
- Quantidade de missings
- Distribuição da variável resposta (mau)

In [5]:
import pandas as pd

df = pd.read_csv('demo01.csv')
df.dtypes

sexo                      object
posse_de_veiculo          object
posse_de_imovel           object
qtd_filhos                 int64
tipo_renda                object
educacao                  object
estado_civil              object
tipo_residencia           object
idade                    float64
tempo_emprego            float64
possui_celular             int64
possui_fone_comercial      int64
possui_fone                int64
possui_email               int64
qt_pessoas_residencia    float64
mau                         bool
dtype: object

In [21]:
df.isnull().sum()

sexo                     0
posse_de_veiculo         0
posse_de_imovel          0
qtd_filhos               0
tipo_renda               0
educacao                 0
estado_civil             0
tipo_residencia          0
idade                    0
tempo_emprego            0
possui_celular           0
possui_fone_comercial    0
possui_fone              0
possui_email             0
qt_pessoas_residencia    0
mau                      0
dtype: int64

In [23]:
df['mau'].value_counts()

mau
False    16260
True       390
Name: count, dtype: int64

#### 2) Vamos montar um metadados

1. Crie um dataframe com os nomes de cada variável e o tipo de dados de cada variável.
2. Adicione uma coluna nesse *dataframe* chamada "qtd_categorias" e coloque nela o número de categorias correspondente de cada variável.
    Dica:
        1. inicie uma lista vazia
        2. faça um for ao longo dos nomes das variáveis,
        3. conte o número de categorias dessa variável
        4. acumule essa informação de 3. na lista que você criou em 1.
        5. No final, essa lista pode ser atribuída à nossa variável.

In [31]:
df_variaveis = pd.DataFrame({'variavel': df.columns,'tipo_de_dado': df.dtypes})
df_variaveis

                                    variavel tipo_de_dado
sexo                                    sexo       object
posse_de_veiculo            posse_de_veiculo       object
posse_de_imovel              posse_de_imovel       object
qtd_filhos                        qtd_filhos        int64
tipo_renda                        tipo_renda       object
educacao                            educacao       object
estado_civil                    estado_civil       object
tipo_residencia              tipo_residencia       object
idade                                  idade      float64
tempo_emprego                  tempo_emprego      float64
possui_celular                possui_celular        int64
possui_fone_comercial  possui_fone_comercial        int64
possui_fone                      possui_fone        int64
possui_email                    possui_email        int64
qt_pessoas_residencia  qt_pessoas_residencia      float64
mau                                      mau         bool

In [45]:
categorias = []

for col in df.columns:
    if df[col].dtype == 'object':
        
        categorias.append(df[col].nunique())
        
    else:
       
        categorias.append(None)

df_variaveis['qtd_categorias'] = categorias

df_variaveis

                                    variavel tipo_de_dado  qtd_categorias
sexo                                    sexo       object             2.0
posse_de_veiculo            posse_de_veiculo       object             2.0
posse_de_imovel              posse_de_imovel       object             2.0
qtd_filhos                        qtd_filhos        int64             NaN
tipo_renda                        tipo_renda       object             5.0
educacao                            educacao       object             5.0
estado_civil                    estado_civil       object             5.0
tipo_residencia              tipo_residencia       object             6.0
idade                                  idade      float64             NaN
tempo_emprego                  tempo_emprego      float64             NaN
possui_celular                possui_celular        int64             NaN
possui_fone_comercial  possui_fone_comercial        int64             NaN
possui_fone                      possui_fone        int64             NaN
possui_email                    possui_email        int64             NaN
qt_pessoas_residencia  qt_pessoas_residencia      float64             NaN
mau                                      mau         bool             NaN

#### 3) Crie variáveis dummy para as variáveis necessárias (i.e. aquelas que são qualitativas e não estão armazenadas como {0, 1} ou {True, False}. Crie um *dataframe* apenas com as variáveis apropriadas para entrada no scikitlearn - elimine as variáveis tipo *str*, mantendo apenas suas versões *dummy*.

In [49]:
qualitativas = df.select_dtypes(include=['object']).columns.tolist()
binarios = []

for col in df.columns:
    if sorted(df[col].unique()) == [0, 1] or sorted(df[col].unique()) == [True, False]:
        binarios.append(col)

qualitativas_filtradas = []

for col in qualitativas:
    if col not in binarios:
        qualitativas_filtradas.append(col)

qualitativas = qualitativas_filtradas

df_dummies = pd.get_dummies(df, columns = qualitativas, drop_first=True)

df_scikitlearn = df_dummies.select_dtypes(exclude=['object'])

#### 4) Qual variável é mais poderosa?

Considere as variáveis ```possui_email``` e ```posse_de_veiculo```. Faça uma tabela cruzada entre elas e responda qual delas te parece mais poderosa para prever a probabilidade de ```mau = 1```?

In [58]:
 pd.crosstab(index=[df['possui_email'], df['posse_de_veiculo']], columns=df['mau'])

mau                            False  True
possui_email posse_de_veiculo
0            N                  9108    233
             Y                  5702    127
1            N                   823     14
             Y                   627     16

A variavel posse_de_veiculo aparenta ter mais relevancia do que a variavel possui_email na predição da probabilidade de mau = 1

#### 5) Salve a base, pois ela será utilizada no final deste módulo.

In [62]:
df_scikitlearn.to_csv('df_scikitlearn.csv', index=False)